.text-shadow {
    text-shadow: 2px 2px 2px grey;
}

.flashes h4 {
    line-height: 2;
}

.main-text{
    padding: 80px;
}

.main-picture-frame{
    height: 850px;
}

.main-picture{
    height: 800px;
}