
*
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/*************** Main text on home page *********************/
.main-text{
    padding: 50px;
    text-align: center;
}

.bold_text{
    font-size: 25px;
    font-weight: bold;
}

/*************** Text on home page *********************/
.light-center{
    opacity: 0.5;
}

/*************** Get_recipes page *********************/
.icon-size{
    font-size:80px;
}

.promo-caption {
    font-weight: bold;
    margin-top: 30px;
    font-size: 40px;
}

.input-field{
    text-align: left;
}

.card {
    margin-top: 0;
    margin-bottom: 0;
}

.image_size{
    width: 100%;
    height: 70%;
}

.massage{
    padding: 80px;
}

.text-shadow {
    text-shadow: 2px 2px 2px grey;
}

/*************** Flash massages on multiple sites *********************/
.flashes h4 {
    line-height: 2;
}


/*************** Home page responsive design *********************/
@media screen and (max-width:430px) {
    .main-text h3 {
        font-size: xx-large;
    }

    .icon-size{
        font-size:70px;
        margin-top: 25px;
    }
        
    .promo-caption {
        margin-top: 25px;
        font-size: 20px;
    }
    .card {
        font-size: xx-small;
    }
}


