
*
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.text-shadow {
    text-shadow: 2px 2px 2px grey;
}

.flashes h4 {
    line-height: 2;
}

.main-text{
    padding: 50px;
    text-align: center;
}

.massage{
    padding: 80px;
}

.icon-size{
    font-size:80px;
}

.promo-caption {
    font-weight: bold;
    margin-top: 30px;
    font-size: 40px;
}

.light-center{
    opacity: 0.5;
}

.center-promo{
    margin-top: 40px;
}

.card {
    height: 900px;
    width: 100%;
}
