{% extends "base.html" %}
{% block content %}

<div class="row center-align massage">

    <div class="col s12 l4">
        <div class="center-promo"></div>
        <i class="fa-solid fa-seedling icon-size"></i>
        <p class="promo-caption">Smothies</p>
    </div>

    <div class="col s12 l4">
        <div class="center-promo"></div>
        <i class="fa-solid fa-blender icon-size"></i>
        <p class="promo-caption">Salads</p>
    </div>

    <div class="col s12 l4">
        <div class="center-promo"></div>
        <i class="fa-solid fa-burger icon-size"></i>
        <p class="promo-caption">Sandwitches</p>
    </div>

</div>

<h3 class="center-align">Add Receipe</h3>

<div class="row">

    <div class="row card-panel grey lighten-3 z-depth-5">

        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in category %}
                            <option value="{{ category.receipe_category_name }}">{{ category.recipe_category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name">Receipe Category</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix"></i>
                    <textarea id="recipe_description" name="recipe_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="recipe_description">Recipe Description</label>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}
