{% extends "base.html" %}
{% block content %}

    

    <div class="row center-promo center-align">
        {% for recipe in recipe %}
        <div class="col s12 m6 l6">
            <p class="" value="{{ recipe.recipe_img }}" >
                <img src="{{ recipe.recipe_img }}">
            </p>
            <p class="" value="{{ recipe.recipe_category_name }}">{{ recipe.recipe_category_name }}</p>
            <p class="" value="{{ recipe.recipe_name }}">{{ recipe.recipe_name }}</p>
            <p class="" value="{{ recipe.recipe_prep_time }}">{{ recipe.recipe_prep_time }} Minutes</p>
            <p class="" value="{{ recipe.recipe_ingrediens }}">{{ recipe.recipe_ingrediens }}</p>
            <p class="" value="{{ recipe.recipe_preparation }}">{{ recipe.recipe_preparation }}</p>
            <p class="" value="{{ recipe.recipe_author_name }}">{{ recipe.recipe_author_name }}</p>
        </div>
        {% endfor %}
    </div>



        


    
{% endblock %}