{% extends "base.html" %}
{% block content %}

    <div class="row center-align massage">

        <div class="col s12 l4">
            <div class="center-promo"></div>
            <i class="fa-solid fa-seedling icon-size"></i>
            <p class="promo-caption">Smothies</p>
        </div>

        <div class="col s12 l4">
            <div class="center-promo"></div>
            <i class="fa-solid fa-blender icon-size"></i>
            <p class="promo-caption">Salads</p>
        </div>

        <div class="col s12 l4">
            <div class="center-promo"></div>
            <i class="fa-solid fa-burger icon-size"></i>
            <p class="promo-caption">Sandwitches</p>
        </div>

    </div>
    

    <div class="row center-promo center-align">
        {% for recipe in recipe %}
        <div class="col s12 m6 l6">
            <p class="" value="{{ recipe.recipe_img }}" >
                <img src="{{ recipe.recipe_img }}">
            </p>
            <p class="" value="{{ recipe.recipe_category_name }}">{{ recipe.recipe_category_name }}</p>
            <p class="" value="{{ recipe.recipe_name }}">{{ recipe.recipe_name }}</p>
            <p class="" value="{{ recipe.recipe_prep_time }}">{{ recipe.recipe_prep_time }} Minutes</p>
            <p class="" value="{{ recipe.recipe_ingrediens }}">{{ recipe.recipe_ingrediens }}</p>
            <p class="" value="{{ recipe.recipe_preparation }}">{{ recipe.recipe_preparation }}</p>
            <p class="" value="{{ recipe.recipe_author_name }}">{{ recipe.recipe_author_name }}</p>
            <a href="" class="btn-small #00897b teal darken-1">Edit</a>
        </div>
        {% endfor %}
    </div>



        


    
{% endblock %}