{% extends "base.html" %}
{% block content %}

<!-- Icons and text showing categories -->
    <div class="row center-align massage">

        <div class="col s12 l4">
            <i class="fa-solid fa-seedling icon-size"></i>
            <p class="promo-caption">Smothies</p>
        </div>

        <div class="col s12 l4">
            <i class="fa-solid fa-blender icon-size"></i>
            <p class="promo-caption">Salads</p>
        </div>

        <div class="col s12 l4">
            <i class="fa-solid fa-burger icon-size"></i>
            <p class="promo-caption">Sandwitches</p>
        </div>

    </div>
<!-- Serch form -->
    <div class="row card-panel grey lighten-5 z-depth-5 col s12">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row center-align ">
                <div class="input-field">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Tasks</label>
                </div>
            </div>
            <div class="col s12 center-align">
                <a href="{{ url_for('get_recipes') }}" class="amber btn text-shadow">Reset</a>
                <button type="submit" class="#00897b teal darken-1 btn text-shadow">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </form>
    </div>
<!-- Container displaying recipes to the user -->  
    {% if recipe|length > 0 %}
    <div class="row center-promo center-align z-depth-5 col s12 m6 l4">
        {% for recipe in recipe %}
        <div class="card">
            <img class="image_size" height="70%" src="{{ recipe.recipe_img }}" alt="Recipe image">
            <p> Category:        {{ recipe.recipe_category_name }}</p>
            <p>Name:      {{ recipe.recipe_name }}</p>
            <p>Preparation time:     {{ recipe.recipe_prep_time }} minutes</p>
            <p>List of ingrediens:      {{ recipe.recipe_ingrediens }}</p>
            <p>Preparation steps:      {{ recipe.recipe_preparation }}</p>
            <p>Created by:     {{ recipe.recipe_author_name }}</p>
            {% if session.user|lower == recipe.recipe_author_name|lower %}
            <div>
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" id="delete" class="btn-small red">Delete</a>
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small #00897b teal darken-1">Edit</a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}


        


    
{% endblock %}