{% extends "base.html" %}
{% block content %}

<!-- Main text -->
    <div class="row col s12 main-text">
        
        <h3 class="center-align">
            Welcome to our culinary oasis, where creativity meets convenience!
        </h3> 
        
        <span class="center-align">
            Our website is your go-to destination for discovering,
            crafting, and curating a delightful array of cocktails, sandwiches, and salads. Whether you're in the mood for a refreshing drink,
            a satisfying sandwich, or a crisp salad, we've got you covered with an extensive selection of recipes to suit every palate and occasion.
            Welcome, and let the culinary adventures begin!
        </span>

    </div>
<!-- Slinder with 3 img's -->
    <div class="slider">
        <ul class="slides z-depth-5">
        <li>
            <img src="https://cdn.pixabay.com/photo/2018/04/18/00/26/cocktail-3329214_1280.jpg">
        </li>
        <li>
            <img src="https://cdn.pixabay.com/photo/2016/08/09/11/24/sandwich-1580348_1280.jpg"> 
        </li>
        <li>
            <img src="https://cdn.pixabay.com/photo/2016/08/18/18/40/salad-1603608_1280.jpg"> 
        </li>
    </div>

<!-- Further explanation of the purpose of the page -->
    <div class="row center-align massage">

        <div class="col s12 l4">
            <div class="center-promo"></div>
            <i class="material-icons icon-size">restaurant</i>
            <p class="bold_text">Recipe Encyclopedia</p>
            <p class="light-center">A comprehensive collection of recipes organized typically organized by categories. It serves as a reference guide for individuals looking to explore and create various dishes.</p>
        </div>

        <div class="col s12 l4">
            <div class="center-promo"></div>
            <i class="material-icons icon-size">bakery_dining</i>
            <p class="bold_text">Add, Remove and Edit recipes</p>
            <p class="light-center">Users are empowered with the ability to seamlessly contribute to, manage, and refine the content of the recipe database by adding, removing, and editing their own recipes, thus fostering a collaborative and dynamic culinary community experience on the website.</p>
        </div>

        <div class="col s12 l4">
            <div class="center-promo"></div>
            <i class="material-icons icon-size">local_bar</i>
            <p class="bold_text">Find, Cook and Enjoy the Taste</p>
            <p class="light-center">Users have the opportunity to discover, prepare, and savor a diverse array of culinary creations featured on the website, translating their virtual exploration into tangible, real-life dining experiences. Thereby enriching their gastronomic journey through accessible and delectable recipes.</p>
        </div>

    </div>

{% endblock %}